.album-header {
	margin-bottom: 30px;
	
	@include min-break($break-small) {
		margin-bottom: 55px;	
	}
	h2 {
    margin: 0 0 10px;
    text-transform: uppercase;
	}
	p {
		font-size: 14px;	
	}
}
.download-photos {
  position: fixed;
  z-index: 90;
  bottom: 20px;
  left: 50%;
  @include translateX(-50%);
}