.collection_album {
	width: 100%;
	
	h6 {
		text-transform: uppercase;	
		font-weight: 700;
	}
	.custom_scroll {
		min-height: 190px;
		margin-bottom: 40px;
		overflow: visible;
	}
	ul {
		display: flex;
		flex-wrap: nowrap;
		position: static;
		min-height: 180px;
		li {
			margin-right: 4px;
		}	
	}
	&.album-style3 {
		.custom_scroll {
			margin: 0;
			height: auto;
			width: 100%;
		}
	}
}
.album_list {
	float: left;
	width: 320px;
	height: 180px;
	position: relative;
	.photo {
		bottom: 0;
		left: 0;
		right: 0;
	}
	&.thb-true-aspect-collection {
		height: 180px;
		background-size: contain;
	}
}
.collection_filter {
	display: inline-flex;
	visibility: hidden;
	text-align: right;
	margin-left: auto;
	@include min-break($break-small) {
		display: inline-flex;
		visibility: visible;
	}
	.thb-menu-right.menu-open & {
		visibility: hidden;
	}
}
.page-padding {
	&.flex {
		display: flex;
	}
}
.collection-style4-container {
	display: flex;
	flex: 1;
	position: relative;
	.collection-style4-detail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		display: flex;
		
		.style4-album {
			strong {
				display: block;
				line-height: 1;
				margin-bottom: 30px;	
			}
		}
	}
	.style4-album-detail {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px;
		padding-left: 0 !important;
		z-index: 30;
		display: flex;
		background: #fff;
		flex-direction: column;
		max-width: 400px;
		opacity: 0;
		
		.dark-theme & {
			background: #020202;
		}
		@include min-break($break-small) {
			padding: 30px;
		}
		@include min-break($break-medium) {
			padding: 45px;
			max-width: 450px;
		}
		h5 {
			font-size: 16px;
			line-height: 1;
			text-transform: uppercase;	
			margin-bottom: 10px;
		}
		
		p {
			font-size: 13px;
			line-height: 1.6;
			margin: 0;	
		}
		.detail-meta {
			display: flex;
			align-items: 	center;
			margin-top: 20px;
			.photo_action {
				margin: 0;
			}
			.back_to_list {
				display: inline-flex;
				margin-left: 16px;
				padding-left: 15px;
				color: #a2a2a2;
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				position: relative;
				
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: -2px;
					bottom: -2px;
					border-left: 1px solid #a2a2a2;
				}
			}
		}
		
	}
	.custom_scroll {
		height: auto;
		flex: 1;
		
		ul {
			display: flex;
			flex-wrap: nowrap;	
			height: 100%;
			li {
				display: inline-flex;	
				flex-direction: column;
				margin: 0 30px 0 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.album-image {
		position: relative;
		flex: 1;
		.photo {
			left: 0;
			bottom: 0;
			right: 0;
		}
		&.thb-loading {
			&:after {
				bottom: 50%;
				margin-bottom: -19px;
			}
		}
	}
	.album-link {
		display: flex;
		flex-direction: column;
		flex: 1;
		figure {
			flex: 1;
			background-size: cover;
			background-position: center;
		}
		h5 {
			font-size: 16px;
			line-height: 1;
			text-transform: uppercase;	
			margin-bottom: 10px;
		}
		p {
			color: #8b8b8b;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 30px;	
		}
	}
}
.collection-style5-container {
	position: relative;
	.collection-style5 {
		height: 90vh;
		padding: 15vh 0;
		&>.row {
			height: 100%;
		}
		.item {
			
			.photo {
				left: 0;
		    bottom: 0;
		    right: 0;
			}
		}
	}
	.album_meta {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		
		.thb-full-menu-left-enabled & {
			@include min-break($break-medium) {
				padding-left: 300px;	
			}
		}
		.thb-full-menu-left-enabled.thb-menu-right & {
			@include min-break($break-medium) {
				padding-left: 0;
				padding-right: 300px;	
			}
		}
		p {
			color: $color1;
			margin-bottom: 35px;	
		}
		h1 {
			@include min-break($break-xlarge) {
				font-size: 120px;
			}	
		}
	}
}