.thb-full-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1;
	font-size: 14px;
	text-transform: uppercase;
	
	
	@include min-break($break-medium) {
		display: flex;	
	}
	& + .collection_filter {
		margin-left: 25px;
	}
	&>li {
		display: inline-flex;
		& + li {
			margin-left: 25px;
		}	
		a {
			font-weight: 600;
			padding: 15px 0;	
		}
	}
	li {
		margin: 0;
		white-space: nowrap;
		
		&.menu-item-has-children {
			position: relative;
			
			&.sfHover {
				&>a {
					color: $color2;	
				}
			}
			&.sfHover,
			&:hover {
				overflow: visible;
			}
			
			&>a {
				&:after {
			    display: inline-flex;
			    content: "\f107";
			    font-family: FontAwesome;
			    margin-left: 10px;
			    vertical-align: middle;
			    font-size: 11px;
				}	
			}
		}
	}
	.sub-menu {
		padding: 30px 0;
		margin: 0;
		list-style: none;
		background: $color1;
		position: absolute;
		min-width: calc(100% + 60px);
		top: 100%;
		left: -30px;
		opacity: 0;
		visibility: hidden;
		li {
			display: block;
			padding: 0 30px;	
			margin-bottom: 15px;
			font-size: 12px;
			line-height: 1.1;
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				display: block;
				color: #fff;
				padding: 0;
				@include translateY(20px);
				opacity: 0;
				&:hover {
					color: #bfbfbf;	
				}
			}
			&.menu-item-has-children {
				&>a:after {
				  content: "\f105";
				}
			}
		}
		.sub-menu {
			top: -30px;
			left: 100%;
			min-width: 100%;
		}
	}	
}