#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	margin-top: 10px;
	padding: 0 15px 0;
	z-index: 50;
	@media only screen and (min-width: $break-small) {
		margin-top: 25px;
		padding: 0 20px 0;
	}
	@media only screen and (min-width: $break-medium) {
		margin-top: 40px;
		padding: 0 30px 0;
		
		.thb-full-menu-enabled.thb-logo-left & {
			margin-top: 35px;
		}
	}
	@extend .admin-style;
	
	.open-cart & {
		display: none;
	}
	.logo {
		display: inline-flex;
		.logoimg {
			max-height: 20px;
			
			&.logo_dark {
				display: none;
			}
		}
	}
	.mobile-toggle {
		display: inline-flex;
		cursor: pointer;
		width: 30px;
		height: 25px;
		padding: 0;
		justify-content: center;
		align-items: 	center;
		vertical-align: middle;
		    margin-right: 10px;
		    
		.thb-full-menu-enabled.thb-logo-left & {
			@include min-break($break-medium) {
				display: none;	
			}
		}
		.thb-full-menu-left-enabled &{
			@include min-break($break-medium) {
				display: none;	
			}
		}
	}
	.thb-menu-right & {
		
		.mobile-toggle {
			margin-right: 0;
			margin-left: auto;
		}
		.collection_filter + .mobile-toggle {
			margin-left: 10px;
		}
	}
	.thb-logo-center & {
		.logo {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate3d(-50%, -50%, 0);
		}
	}
	select {
		display: none;	
	}
	.logo-holder,
	.right-holder {
		display: flex;
		align-items: center;
	}
	.right-holder {
		
		&.space-between {
			width: 100%;
			justify-content: space-between;
			
			.collection_filter {
				margin-left: 0;
				
				.selectric-items {
					right: auto;
					left: 0;
				}
			}
		}
	}
}