#navigation-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	max-width: 100%;
	padding: 60px 15px;
	z-index: 40;
	background: #fff;
	height: 100%;
	@include translateX(-100%);
	@extend .admin-style;
	@include min-break($break-small) {
		padding: 75px 20px;
		width: 340px;	
	}
	@include min-break($break-medium) {
		padding: 90px 30px;
	}
	.thb-menu-right & {
		left: auto;
		right: 0;
		@include translateX(100%);
	}
	
	.thb-full-menu-left-enabled & {
		@include min-break($break-medium) {
			width: 300px;
			@include translateX(0);
		}
	}
}
.navigation-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	@extend .titlefont;
	&>li {
		transform-origin: center center;
	}
	li {
		margin: 0;
		a {
			display: block;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			padding: 10px 0 10px 40px;
			font-weight: 700;
			@include min-break($break-small) {
				padding: 15px 0 15px 40px;
			}
			.thb-menu-right & {
				padding: 10px 40px 10px 0;
				text-align: right;
				@include min-break($break-small) {
					padding: 15px 40px 15px 0;
				}
			}
		}
		
		&.menu-item-has-children {
			a {
				position: relative;
				span {
					display: flex;
					width: 25px;
					height: 25px;
					position: absolute;
					left: 0;
					top: 50%;
					align-items: center;
					justify-content: center;
					@include translateY(-50%);
					cursor: pointer;
					.thb-menu-right & {
						left: auto;
						right: 0;	
					}
					em {
						display: block;
						position: relative;
						width: 11px;
						height: 11px;
						&:before {
							content: '';
							position: absolute;
							top: 5px;
							left: 0;
							width: 100%;
							height: 1px;
							background: $color1;
						}
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 5px;
							height: 100%;
							width: 1px;
							background: $color1;
						}	
					}
				}
			}
			
		}
	}
	.sub-menu {
		display: none;
		list-style: none;
		margin: 0 0 0 20px;
		@include min-break($break-small) {
			margin: 0 0 0 30px;	
		}
		.thb-menu-right & {
			margin: 0 20px 0 0;
			@include min-break($break-small) {
				margin: 0 30px 0 0 ;	
			}
		}
		.sub-menu {
			@include min-break($break-small) {
				margin: 0 0 0 20px;	
			}
			.thb-menu-right & {
				margin: 0 20px 0 0;
			}
		}
		li {
			a {
				font-size: 12px;
				padding: 5px 0 5px 20px;
				font-weight: 600;
				
				@include min-break($break-small) {
					padding: 8px 0 8px 20px;	
				}
				.thb-menu-right & {
					padding: 5px 20px 5px 0;
					
					@include min-break($break-small) {
						padding: 8px 20px 8px 0;	
					}
				}
			}	
			&.menu-item-has-children {
				a {
					span {
						width: 14px;
						height: 14px;
						em {
							&:after {
								left: 5px;
							}	
						}
					}
				}
				
			}
		}
	}
}
.menu_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include scaleX(0);
	@include transform-origin(0, 0);
	z-index: 39;
	background: rgba($color1, 0.5);
	
	.thb-menu-right &{
		left: auto;
		right: 0;
		
		@include transform-origin(100%, 0);
	}
}
#menu-scroll {
	.thb-menu-right & {
		.iScrollVerticalScrollbar {
			right: auto !important;
			left: 1px;
		}
	}
}