.post {
	&.style1 {
		margin-bottom: 30px;
		@include min-break($break-medium) {
			margin-bottom: 40px;	
		}
		.post-gallery {
			margin-bottom: 28px;
		}
		.post-title {
			h3 {
				margin-bottom: 15px;
				@include min-break($break-large) {
					font-size: 30px;
				}	
			}
		}
		.post-content {
			p {
				margin: 0;	
				font-size: 12px;
			}
		}
		.excerpt-dot {
			margin: 0;
			display: inline;	
		}
	}
	&.style3 {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		@media only screen and (min-width: $break-small) {
			margin-bottom: 55px;	
			padding-bottom: 55px;
		}
		&:last-of-type {
			border-bottom: 0;	
			margin-bottom: 0;
			padding-bottom: 0;
		}
		h3 {
			margin-bottom: 10px;	
		}
		.post-content {
			p {
				margin: 0;	
				font-size: 14px;
			}
		}
		.post-gallery {
			margin-bottom: 20px;
			
			@include min-break($break-medium) {
				margin-bottom: 0;
			}
			img {
				width: 100%;	
			}
		}
		.excerpt-dot {
			text-align: left;	
		}
	}
	&.post-detail {
		
		.single-post &,
		.page-template-template-about & {
			.post-gallery {
				height: 25vh;
				position: relative;
				overflow: hidden;
				@media only screen and (min-width: $break-small) {
					height: 60vh;
				}
				img {
					width: 100%;	
				}
				.parallax_bg {
					width: 100%;
					height: 150%;
					background-size: cover;
					background-position: 0 center;
					@include translateY(0);
					position: absolute;
					top: -15%;
					left: 0;
				}
				.post-title {
					position: relative;
				}
			}
		}
		.page-template-template-about & {
			
			
			.post-gallery {
				background: $color1;
				display: flex;
				justify-content: center;
				align-items: center;
				.parallax_bg {
					opacity: 0.8;
				}	
				.post-title {
					.entry-title {
						color: #fff;
					}
				}
			}
			
		}
		.post-content {
			margin-bottom: 40px;
			
			.share_button {
				margin: 0 0 30px;
			}
			a {
				.light-theme & {
					color: $color2;
				}	
			}
		}
		.blog-post-container {
			margin-top: 0;
			@media only screen and (min-width: $break-small) {
				margin-top: -90px;
			}
		}
		&.page {
			.blog-post-container {
				margin-top: 0;	
				@media only screen and (min-width: $break-small) {
					margin-top: 0;
				}
			}
		}
		&.style2 {
			.blog-post-container {
				margin: 0;
				text-align:	center;
				@media only screen and (min-width: $break-small) {
					margin: -90px 10% 0;
				}
			}
			.post-content {
				p {
					margin: 0;	
					font-size: 14px;
				}
			}
		}
		.article-tags {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.post-gallery {
		img {
			width: 100%;	
		}
	}
	.post-meta {
		font-size: 12px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 15px;
		@extend .titlefont;
		a + .time {
			&:before {
				display: inline-block;
				content: "\2014";
				margin-right: 10px;	
				margin-left: 5px;
			}
		}
	}
	.excerpt-dot {
		display: block;
		text-align: center;
		margin-top: 20px;
	}
}
.blog-post-container {
	position: relative;
	background: #fff;
	padding: 30px 15px;
	@media only screen and (min-width: $break-small) {
		padding: 50px;	
	}
	&.comments {
		padding-top: 0;
	}
}
.tag-link {
	display: inline-block;
	padding: 6px 9px 4px;
	font-size: 12px;
	margin: 0 2px 10px;
	text-transform: uppercase;
	color: $color1;
	line-height: 1;
	font-weight: 600;
	border: 2px solid $color1;
	border-radius: 20px;
	@extend .titlefont;
	@include min-break($break-small) { 
		padding: 8px 16px 6px;
		font-size: 12px;
	}
	
	&:hover {
		color: #fff;
		background: $color1;
	}
}
.post_nav {
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -48px;
	background: rgba(0,0,0,0.2);
	padding: 17px 12px;
	height: 96px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	z-index: 10;
	overflow: hidden;
	width: 38px;
	display: flex;
	flex-direction: row;
	align-items: center;
	visibility: hidden;
	@extend .transition;
	@include min-break($break-small) { 
		visibility: visible;
	}
	.rel {
		position: relative;
		display: block;
		height: 18px;
		width: 100%;
	}
	
	svg {
		position: absolute;
		top: 50%;
		left: 0;
		fill: #fff;
		margin-top: -9px;	
	}
	span {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 35px;
		width: 180px;
		
		@include translateY(-50%);
	}
	&.prev {
    .thb-full-menu-left-enabled.thb-menu-left & {
      @include min-break($break-medium) {
      	left: 300px;	
      }
    }
  }
  
  &.next {
		left: auto;
		right: 0;
		text-align: right;
		svg {
			left: auto;
			right: 0;
		}
		span {
			left: auto;
			right: 35px;	
		}
		
		.thb-full-menu-left-enabled.thb-menu-right & {
		  @include min-break($break-medium) {
		  	right: 300px;	
		  }
		}
	}
	
	&:hover {
		width: 240px;
		color: $color1;
		background: rgba(255,255,255,1);	
		box-shadow: 0 0 20px rgba(0,0,0,0.09);
		
		svg {
			fill: $color1;	
		}
	}
}