@mixin min-break($size) {
	@media only screen and (min-width: $size) { @content; }
}
@mixin max-break($size) {
	@media only screen and (max-width: $size) { @content; }
}
@mixin input-placeholder {
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}
@mixin ie11() {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { @content; }
}
@mixin firefox() {
	@-moz-document url-prefix() { @content; }
}
.reset {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cf {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.endcolumn {
	[class*="column"] + [class*="column"]:last-child {
		float: left;
	}
}
.transition {
	@include transition(all 1s $transition);
}
.quick-transition {
	@include transition(all .25s $transition);
}
.admin-style {
	.admin-bar & {
		top: 46px;

		@media screen and (min-width: 783px){
		  top: 32px;
		}
	}
}
.social {
	@include transition(color .25s $transition, background .25s $transition, border .25s $transition);
	@each $profile, $color in $social {
	  &.#{$profile} {
	    &:hover {
	    	color: $color;
	    }
	  }
	}
	&.boxed-icon {
		@each $profile, $color in $social {
		  &.#{$profile} {
		    &:hover {
		    	border-color: $color;
		    	background: $color;
		    	color: #fff;

		    	span {
		    		color: #fff;
		    	}
		    }
		  }
		}
		&:hover {
			color: #fff;

			span {
				color: #fff;
			}
		}
	}
}
.row {
	&:before,
	&:after {
		display: none;
	}
	&.no-row-padding {
		padding: 0;
	}
	&.no-padding {
		margin: 0 auto;
		&>.columns {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.max_width {
    max-width: 76.875em;
    padding: 0;
    margin: 0 auto;
    @media only screen and (min-width: $break-small) {
    	padding: 0 15px;
    }
	}
	.height-1-5 {
		height: 0;
		@-moz-document url-prefix() {
			height: auto;
		}

		padding-bottom: 50%;
		@media only screen and (min-width: $break-medium) {
			padding-bottom: 22.5%;
		}
		@media only screen and (min-width: $break-large) {
			padding-bottom: 15%;
		}

		&:after {
			content: "";
		  display: block;
		  height: 0;

		  padding-bottom: 50%;
		  @media only screen and (min-width: $break-medium) {
		  	padding-bottom: 22.5%;
		  }
		  @media only screen and (min-width: $break-large) {
		  	padding-bottom: 15%;
		  }
		}
	}
	.height-2 {
		height: 0;

		@-moz-document url-prefix() {
			height: auto;
		}

		padding-bottom: 60%;
		@media only screen and (min-width: $break-medium) {
			padding-bottom: 50%;
		}
		@media only screen and (min-width: $break-large) {
			padding-bottom: 40%;
		}

		&:after {
			content: "";
	    display: block;
	    height: 0;

	    padding-bottom: 60%;
	    @media only screen and (min-width: $break-medium) {
	    	padding-bottom: 50%;
	    }
	    @media only screen and (min-width: $break-large) {
	    	padding-bottom: 40%;
	    }
		}
	}
	.height-3 {
		padding-bottom: 50%;
		@media only screen and (min-width: $break-medium) {
			padding-bottom: 45%;
		}
		@media only screen and (min-width: $break-large) {
			padding-bottom: 30%;
		}

		&:after {
			content: "";
			display: block;
			height: 0;

			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 45%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 30%;
			}
		}
	}
	.height-3-4 {
		padding-bottom: 48%;
		@media only screen and (min-width: $break-medium) {
			padding-bottom: 36%;
		}
		@media only screen and (min-width: $break-large) {
			padding-bottom: 24%;
		}

		&:after {
			content: "";
		  display: block;
		  height: 0;

		  padding-bottom: 48%;
		  @media only screen and (min-width: $break-medium) {
		  	padding-bottom: 36%;
		  }
		  @media only screen and (min-width: $break-large) {
		  	padding-bottom: 24%;
		  }
		}
	}
	.thb-true-aspect {
		height: auto !important;
		padding-bottom: 0 !important;

		&:after {
			display: none !important;
		}
	}
	.thb-twenty {
		width: 100%;
		height: 0;

		@-moz-document url-prefix() {
			height: auto;
		}
		@media only screen and (min-width: $break-medium) {
			width: 33.3333%;
			@include flex(0 0 33.3333%);
			max-width: 33.3333%;
		}
		@media only screen and (min-width: $break-large) {
			width: 20%;
			@include flex(0 0 20%);
			max-width: 20%;
		}
		&.height-1-5 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 22.5%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 15%;
			}
			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 22.5%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 15%;
			  }
			}
		}
		&.height-2 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 30%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 20%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 30%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 20%;
			  }
			}
		}
		&.height-3 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 45%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 30%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 45%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 30%;
			  }
			}
		}
		&.height-3-4 {
			padding-bottom: 48%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 36%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 24%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 48%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 36%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 24%;
			  }
			}
		}
	}
	.thb-forty {
		width: 100%;

		@-moz-document url-prefix() {
			height: auto;
		}

		@media only screen and (min-width: $break-large) {
			width: 40%;
			@include flex(0 0 40%);
			max-width: 40%;
		}
		&.height-2 {
			padding-bottom: 50%;

			@media only screen and (min-width: $break-small) {
				padding-bottom: 30%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;

			  @media only screen and (min-width: $break-small) {
			  	padding-bottom: 30%;
			  }
			}
		}
	}
	.thb-twentyfive {
		width: 100%;
		@-moz-document url-prefix() {
			height: auto;
		}
		@media only screen and (min-width: $break-large) {
			width: 25%;
			@include flex(0 0 25%);
			max-width: 25%;
		}
		&.height-1-5 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 22.5%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 15%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 22.5%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 15%;
			  }
			}
		}
		&.height-2 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 30%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 20%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 30%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 20%;
			  }
			}
		}
		&.height-3 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 45%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 30%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 45%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 30%;
			  }
			}
		}
		&.height-3-4 {
			padding-bottom: 50%;
			@media only screen and (min-width: $break-medium) {
				padding-bottom: 36%;
			}
			@media only screen and (min-width: $break-large) {
				padding-bottom: 24%;
			}

			&:after {
				content: "";
			  display: block;
			  height: 0;

			  padding-bottom: 50%;
			  @media only screen and (min-width: $break-medium) {
			  	padding-bottom: 45%;
			  }
			  @media only screen and (min-width: $break-large) {
			  	padding-bottom: 30%;
			  }
			}
		}
	}
	&.album-style3 {
		flex: 1;
		height: 100%;
		.thb-twenty {
			height: auto;
		}
	}
	&.isotope-grid {
		display: block;
	}
}

.table {
	display: table;
	height: 100%;
	&>div {
		display:table-cell;
		vertical-align: middle;
	}
}
.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.custom_scroll {
	overflow: hidden;
	height: 100%;
	position: relative;
	/* Prevent native touch events on Windows */
  -ms-touch-action: none;
  touch-action: none;

  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
	&>ul {
		width: 100%;
		list-style: none;
		position: absolute;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		@include translateZ(0);
	}
	.iScrollHorizontalScrollbar {
		height: 4px !important;
		z-index: 9 !important;
	}
	.iScrollVerticalScrollbar {
		width: 4px !important;
	}
	.iScrollIndicator {
		border-radius: none !important;
		border: none !important;
		background: rgba(0, 0, 0, 0.2) !important;

		&:hover {
				background: rgba(0, 0, 0, 0.4) !important;
		}
	}
}
.page-padding {
	min-height: 100vh;
	padding: 50px 0;
	width: 100%;
	@include min-break($break-small) {
		padding: 80px 0;
	}
	@include min-break($break-medium) {
		padding: 110px 0;
	}
	&.max {
		max-height: 100vh;
	}
	&.collection-style4 {
		min-height: 0;
		height: 100vh;
	}
}
.side_padding {
	padding: 0;
	width: 100%;
	@include min-break($break-small) {
		padding:0 10px;
	}
	@include min-break($break-medium) {
		padding: 0 20px;
	}
	&.large-side-padding {
		padding:0 15px;

		@include min-break($break-small) {
			padding:0 20px;
		}
		@include min-break($break-medium) {
			padding: 0 30px;
		}
	}
}
.thb-loading {
	position: relative;

	&:after {
		content: '';
		width: 38px;
		height: 38px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -19px;
		padding: 3px;
		border-radius: 19px;
		background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSIjMjIyMjIyIj4KICA8cGF0aCBvcGFjaXR5PSIuMjUiIGQ9Ik0xNiAwIEExNiAxNiAwIDAgMCAxNiAzMiBBMTYgMTYgMCAwIDAgMTYgMCBNMTYgNCBBMTIgMTIgMCAwIDEgMTYgMjggQTEyIDEyIDAgMCAxIDE2IDQiLz4KICA8cGF0aCBkPSJNMTYgMCBBMTYgMTYgMCAwIDEgMzIgMTYgTDI4IDE2IEExMiAxMiAwIDAgMCAxNiA0eiI+CiAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCAxNiAxNiIgdG89IjM2MCAxNiAxNiIgZHVyPSIwLjhzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICA8L3BhdGg+Cjwvc3ZnPgo=') center center no-repeat;
	}
}
.flex-video{position:relative;height:0;padding-bottom:75%;margin-bottom:1rem;overflow:hidden}.flex-video embed,.flex-video iframe,.flex-video object,.flex-video video{position:absolute;top:0;left:0;width:100%;height:100%}.flex-video.widescreen{padding-bottom:56.25%}.flex-video.vimeo{padding-top:0}

#right_click_content {
	color: #fff;
	@include user-select(none);
	h1,h2,h3,h4,h5,h6 {
		color: #fff;
	}

	.columns {
		>*:last-child {
			margin: 0;
		}
	}
}
