.quantity {
	.qty {
		font-size: 22px;
		text-align: center;
		width: 48px;
		margin: 0;
		padding: 9px 0 8px;
	}
}
.product-detail {
	.woocommerce-product-gallery {
		img,
		figure {
			width: 100%;	
		}
	}
	.entry-summary {
		.product-information {
			padding: 10%;
			display: flex;
			min-height: 100vh;
			justify-content: center;
			align-items: center;
		}
		
		.entry-title {
			font-size: 48px;
		}
		.woocommerce-product-rating {
			margin-bottom: 25px;
			display: flex;
			align-items: center;
			.star-rating {
				display: inline-block;
			}
			.woocommerce-review-link {
				display: inline-block;
				margin-left: 10px;
				font-size: 14px;
			}
		}
		[itemprop="description"] {
			color: #676767;	
			width: 90%;
		}
		[itemprop="offers"] {
			line-height: 1;
			margin: 25px 0 30px;	
			
			.price {
				margin: 0;
			}
		}
		.quantity {
			margin-right: 8px;
		}
		.product_meta {
			margin-top: 40px;
			color: #676767;
			font-size: 13px;
			&>span {
				display: block;
				
				span,
				a {
					font-weight: 500;
				}	
				a {
					color: $color2;	
				}
			}
		}
	}
}
.variations_form {
	.woocommerce-variation-price {
		display: none;
	}
	.reset_variations {
		display: none !important;
	}
	.variations {
		margin-bottom: 30px;
		tr {
			td {
				padding: 0;
				&:first-child {
					padding-right: 30px;	
				}
			}	
		}
	}
}
.star-rating {
	display: block;
	position: relative;
	height: 12px;
	line-height: 12px;
	width: 50px;
	font-size: 11px;
	margin-top: 5px;
	&:before {
		font-family: 'FontAwesome';
		top: 0;
		left: 0;
		position: absolute;
		content: "\f005 \f005 \f005 \f005 \f005";
		color: #e8e8e8;
	}
	span {
		top: 0;
		left: 0;
		position: absolute;
		height: 12px;
		line-height: 12px;
		width: 55px;
		font-size: 11px;
		overflow: hidden;
		&:before {
			font-family: 'FontAwesome';
			content: "\f005 \f005 \f005 \f005 \f005";
			color: #fdbc0e;
		}
	}
}
.comment-form-rating {
	p.stars {
		display: block;
		float: left;
		position: relative;
		height: 12px;
		line-height: 12px;
		width: 50px;
		font-size: 11px;
		margin-top: 5px;
		&:before {
			position: absolute;
			font-family: 'FontAwesome';
			top: 0;
			left: 0;
			position: absolute;
			content: "\f005 \f005 \f005 \f005 \f005";
			color: #e8e8e8;
		}
		span {
			top: 0;
			left: 0;
			position: absolute;
			height: 12px;
			line-height: 12px;
			width: 50px;
			font-size: 11px;
			overflow: hidden;
			
			a {
				display: block;
				width: 10px;
				height: 12px;
				float: left;
				text-indent: -9999px;
				position: relative;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-family: 'FontAwesome';
					content: "\f005";
					color: #e8e8e8;
					text-indent: 0;
				}
				&.active:before {
					color: #fdbc0e;
				}
			}
		}

	}
}
.shop_attributes {
	margin: 0 auto;	
	width: 100%;
	
	@include min-break($break-small) {
		width: 80%;	
	}
	tr {
		border-bottom: 1px solid #f1f1f1;	
		th {
			vertical-align: initial;
			text-align: left;
			padding: 20px 0;
			line-height: 1.6;
		}
		td {
			text-align: right;
			padding: 20px 0;
			p {
				font-size: 16px;
				margin-bottom: 0;
			}	
		}
	}
	
}
.woocommerce-tabs {
	margin-top: 10vh;
	margin-bottom: 10vh;
	
	@include max-break($break-small) {
		padding: 0 15px;
	}
	.tabs {
		list-style: none;
		text-align: center;	
		font-size: 20px;
		margin-bottom: 50px;
		li {
			display: flex;
			margin: 0 0 15px;
			@include min-break($break-small) {
				display: inline-flex;
				margin: 0 15px;
			}	
			
			a {
				color: #727272;	
				position: relative;
				&:hover {
					color: $color2;	
				}
				&:after {
					content: '';
					display: block;
					border-bottom: 1px solid $color2;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					@include transform-origin(50% 50%);
					@include scale(0, 1);
					@extend .quick-transition;
				}
			}
			&.active {
				a {
					color: $color2;	
					
					&:after {
						@include scale(1, 1);
					}
				}
			}
		}
	}
	.wc-tab {
		h2 {
			display: none;	
		}
	}
}
.related,
.upsells,
.cross-sells {
	text-align: center;
	margin-bottom: 5vh;
	h2 {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: 500;	
		margin-bottom: 30px;
	}
}